<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>PreTest</title>
    
</head>
<body>

    <center>
        <h1>CLOCK TEST</h1>
        <h2 id="position" align="center"></h2>
        <h2>Draw the hour hand first and then the minute hand</h2>
        <h2>Double click after drawing each hand</h2>
    </center>
    <hr>
    
    <canvas id="myCanvas">
   
    </canvas>
    <hr>
    
    <form action="/result.html" method="post">
        <button onclick="done()" style="margin-left: 5%;display:inline;" type="submit">DONE</button>
    </form>
        <button id="clear" onclick="clear()" style="margin-left: 5%;display:inline;">CLEAR</button>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
    
</body>

</html>